@mixin clear{
  margin: 0;
  padding: 0;
}

@mixin clear-list{
  @include clear;
  list-style: none;
}

@mixin overlay-img{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all .5s ease;
  &:hover{
    background-color: rgba(0,0,0, 0.3);
    transition: all .5s ease;
  }
}

@mixin title{
  h4{
      padding-bottom: 0.8125rem;
      box-sizing: border-box;
      & a{
        color: #000000;
        font-size: 1rem;
        text-transform: uppercase;
        &:hover{
          color: $main-blue;
        }
      }
  }
}

//Media...
@mixin large-screen{
  @media only screen and (max-width: 992px){
    @content;
  }
}

@mixin medium-screen{
  @media only screen and (max-width: 768px){
    @content;
  }
}@mixin small-screen{
  @media only screen and (max-width: 576px){
    @content;
  }
}

























