//Colors...

$main-blue: #005689;
$orange: #e7711b;
$blue: #62a7d9;
$footer-bg: #28282d;
$grey: #c3c3c3;
$light-grey: #efefec;
$black-medium: #333333;
$greyish: #afa8a8;
$grey-medium: #f4f4f4;
$grey-greyish: #dfdfdf;
$greyish-brown: #4e4e4e;



  //Sizes...

$view-port: 1160px;
