@import "partials/params";
@import "partials/mixins";

#footer {
  flex: 0 0 auto;
  background-color: $footer-bg;
  margin-top: 1.875rem;
  padding-top: 50px;
  & .viewport {
    display: flex;
    .social-footer {
      width: 45%;
      span {
      color: $greyish;
      }
      .social-footer__link {
        padding-top: 30px;
        @media only screen and(max-width: 834px){
          display: flex;
          flex-direction: column;

          padding: 20px 0 0 15px;

        }
        a {

          color: $greyish;
          transition: all .5s ease;
          padding-right: 20px;
          @media only screen and(max-width: 834px){
            padding-bottom: 20px;
          }
          &:hover{
            color: $greyish-brown;
          }
          i {

          }
        }
      }
    }
    .footer-forbid {
      display: flex;
      @media only screen and(max-width: 834px){
        flex-direction: column;
      }

    }
    p {
      width: 48%;
      color: $greyish;
      margin: 0;
      padding-bottom: 50px;
      &:last-child {
        padding-right: 0;
      }
      @media only screen and(max-width: 834px){
        width: 100%;
      }
    }
  }
}