@import "partials/params";
@import "partials/mixins";

#news-feed {

    & .viewport{
      display: flex;
      justify-content: space-between;

      & .last-news {
        position: relative;
        @media only screen and(max-width: 815px) {
          width: 100%;
        }
        width: 74%;
        background-color: $light-grey;
        padding: 1rem;

        & .last-news__title {
          border-bottom: 1px solid $orange;
          & h4 {
            font-size: 0.9em;
            text-transform: uppercase;
            margin-bottom: 1rem;
          }
        }
        & .last-news__item {
          padding-top: 1.25rem;

          & .last-news__time{
            font-size: 0.8125rem;
            color: $orange;
            float: left;
          }
          & .last-news__link {
            font-size: 0.8125rem;
            text-transform: uppercase;
            margin-left: 4.7em;
            @include medium-screen{
              margin-left: 3.2em;
            }

            & a {
              color: $black-medium;

            }
          }
        }
        & .more-link{
          position: absolute;
          font-size: 0.79rem;
          text-transform: uppercase;
          bottom: 1rem;
          right: 1rem;
          @media only screen and(max-width: 815px){
            position: static;
            text-align: right;
            margin-top: 30px;
          }
          & a{
            color: $orange;
          }
        }
      }
      & .widgets-top {

        @media only screen and(max-width: 815px) {
          display: none;
        }
        margin-left: 10px;

        & .widgets-top__item{

          margin-bottom: 10px;

        }
        & :last-child{
          margin-bottom: 0;
        }
      }
    }

}